

body{

    background-color: black;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    text-align: center;
    
}


.avatar{

    border-radius: 50%;
}



.name{

    color: hsl(0, 0%, 100%);
    font-size: 1.825rem;
    font-weight: 400;
}

.origin{

    color: hsl(75, 94%, 57%);
    font-size: 1.125rem;

}

.work_name{


    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 1rem;
   

}

.socials_links{


background-color: hsl(0, 0%, 8%);
margin-inline:initial;
display: inline-block;
text-align: center;
border-radius: 15px;
margin-top: 5%;
padding: 50px;

}



.container_buttons{

margin-top: 25px;
text-align: center;

}


.buttons{

position: static;
padding:15px;
display:block;
background-color: hsl(0, 0%, 20%);
border: 0PX;
border-radius: 15px;
color: white;
font-weight: 700;
margin: 15px;
margin-inline: auto;
width: 98%;

 

}


.buttons:hover{

    background-color:hsl(75, 94%, 57%);
    cursor: pointer;
    color:hsl(0, 0%, 20%) ;
  
}








/* Style for mobiles */

@media only screen and (max-width: 375px) {



    body{

        background-color: black;
        font-size: 14px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:"slnt" 0;
        text-align: center;
        
    }
    
    
    .avatar{
    
        border-radius: 50%;
    }
    
    
    
    .name{
    
        color: hsl(0, 0%, 100%);
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    .origin{
    
        color: hsl(75, 94%, 57%);
        font-size: 1.125rem;
    
    }
    
    .work_name{
    
    
        color: hsl(0, 0%, 100%);
        font-weight: 400;
        font-size: 1rem;
       
    
    }
    
    .socials_links{
    
    
    background-color: hsl(0, 0%, 8%);
    margin-inline:initial;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    margin-top: 0%;
    xpadding: 25px;
    padding-bottom: 0;
    
    }
    
    
    
    .container_buttons{
    
    margin-top: 25px;
    text-align: center;
    
    }
    
    
    .buttons{
    
    position: static;
    padding:15px;
    display:block;
    background-color: hsl(0, 0%, 20%);
    border: 0PX;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    margin: 15px;
    margin-inline: auto;
    width: 100%;
    
     
    
    }
    
    
    .buttons:hover{
    
        background-color:hsl(75, 94%, 57%);
        cursor: pointer;
        color:hsl(0, 0%, 20%) ;
      
    }
    
    


}

.attribution{

    text-align: center;
    position: relative;
    top: 45px;
    font-size: 0.6rem;
}